{% extends "template.twig" %}

{% set ID_STUDENT = 1 %}
{% set ID_TEACHER = 2 %}
{% set ID_ADMIN = 3 %} {# TODO export do souboru? #}

{% block pagecontent %}

    <div class="p-2 border-top border-bottom bg-light">
        <h1 class="h2 mb-0">
            <span class="fa fa-wrench" aria-hidden="true"></span>
            Administrace
        </h1>
    </div>

    <div class="my-3">

        {% if userTypeId == ID_STUDENT or userTypeId == ID_TEACHER %}
            <div class="d-flex justify-content-between align-items-end mb-2">
                <h2 class="h4 mb-0">
                    <span class="fa fa-leanpub" aria-hidden="true"></span>
                    Moje materiály
                </h2>
                <a href=".?page=material&action=create" class="btn btn-primary">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                    Přidat nový
                </a>
            </div>
            <hr class="mt-0">
            <div class="my-3">
                {% if materialsPublished %}
                    <ul class="nav nav-tabs my-2" role="tablist">
                        {% for department, subjectIds in materialsPublished %}
                            {% for subjectId, subject in subjectIds %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link{{ (loop.parent.loop.first and loop.first) ? ' active' : '' }}" id="tabMaterialsSubject{{ subjectId }}"
                                            data-bs-toggle="tab" data-bs-target="#tabMaterialsSubject{{ subjectId }}Pane" type="button"
                                            role="tab" aria-controls="tabMaterialsSubject{{ subjectId }}Pane"
                                            aria-selected="{{ (loop.parent.loop.first and loop.first) ? 'true' : 'false' }}">
                                        {{ department }}/{{ subject.Subject_short_name }}
                                    </button>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for department, subjectIds in materialsPublished %}
                            {% for subjectId, subject in subjectIds %}
                                <div class="tab-pane fade show{{ (loop.parent.loop.first and loop.first) ? ' active' : '' }}" id="tabMaterialsSubject{{ subjectId }}Pane"
                                     role="tabpanel" aria-labelledby="tabMaterialsSubject{{ subjectId }}" tabindex="0">
                                    {% for row in subject.materials | batch(12) %}
                                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2 mx-0">
                                            {% for materialGroupId, materialGroup in row %}
                                                <div class="col">
                                                    <div class="card">
                                                        <h3 class="h5 card-header">
                                                            {{ materialGroup.MaterialGroup_description }}
                                                        </h3>
                                                        <div class="card-body">
                                                            <h6 class="card-title">
                                                                Materiály:
                                                            </h6>
                                                            {% if materialGroup.materials | length %}
                                                                <ul class="mb-0 list-unstyled">
                                                                    {% for materialId, material in (materialGroup.materials | batch(4))[0] %}
                                                                        <li class="mb-1">
                                                                            <a href=".?page=material&action=download&id={{ materialId }}" target="_blank" class="btn btn-sm btn-outline-secondary">
                                                                                <span class="fa fa-download" aria-hidden="true"></span>
                                                                            </a>
                                                                            <a href=".?page=material&action=view&id={{ materialId }}" target="_blank" class="text-black">
                                                                                {{ material.Material_full_name }}
                                                                            </a>
                                                                        </li>
                                                                    {% endfor %}
                                                                    {% if (materialGroup.materials | length) > 4 %}
                                                                        <li>...</li>
                                                                    {% endif %}
                                                                </ul>
                                                            {% else %}
                                                                <p class="mb-0">Žádné materiály nebyly nalezeny.</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="card-footer d-flex justify-content-end">
                                                            <a href=".?page=material&action=edit&groupid={{ materialGroupId }}" class="btn btn-primary">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                Upravit
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Žádné materiály nebyly nalezeny.</p>
                {% endif %}
            </div>
        {% endif %}

        {% if userTypeId == ID_TEACHER %}
            <h2 class="h4 mb-2">
                <span class="fa fa-leanpub" aria-hidden="true"></span>
                Materiály ke schválení
            </h2>
            <hr class="mt-0">
            <div class="my-3">
                {% if materialsToAuthorize %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover align-middle">
                            <thead>
                            <tr>
                                <th scope="col">Předmět</th>
                                <th scope="col">Popisek</th>
                                <th scope="col">Počet materiálů</th>
                                <th scope="col">Akce</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for materialGroup in materialsToAuthorize %}
                                <tr>
                                    <td>{{ materialGroup.Department_short_name }}/{{ materialGroup.Subject_short_name }}</td>
                                    <td>{{ materialGroup.MaterialGroup_description }}</td>
                                    <td>{{ materialGroup.count }}</td>
                                    <td>
                                        <a href=".?page=material&action=authorize&groupid={{ materialGroup.MaterialGroup_id }}" class="btn btn-primary">
                                            <span class="fa fa-gavel" aria-hidden="true"></span>
                                            Přejít ke schvalování
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Žádné materiály nebyly nalezeny.</p>
                {% endif %}
            </div>
        {% endif %}

        {% if userTypeId == ID_ADMIN %}
            <h2 class="h4 mb-2">
                <span class="fa fa-users" aria-hidden="true"></span>
                Uživatelé
            </h2>
            <hr class="mt-0">
            <div class="my-3">
                {% if users %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover align-middle">
                            <thead>
                            <tr>
                                <th scope="col">Uživatelský typ</th>
                                <th scope="col">Uživatelské jméno</th>
                                <th scope="col">Jméno</th>
                                <th scope="col">Email</th>
                                <th scope="col">Akce</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.UserType_full_name }}</td>
                                    <td>{{ user.User_login }}</td>
                                    <td>{{ user.User_last_name }} {{ user.User_first_name }}</td>
                                    <td>{{ user.User_email }}</td>
                                    <td>
                                        <a href=".?page=user&authaction=delete&id={{ user.User_id }}" class="btn btn-danger">
                                            <span class="fa fa-trash" aria-hidden="true"></span>
                                            Smazat účet
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Žádní uživatelé nebyly nalezeny.</p>
                {% endif %}
            </div>
        {% endif %}

    </div>

{% endblock %}
